*, *::before, *::after { 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: white;
  font-size: 62.5%; // 10px
}

h1, h2, h3, h4, h5, h6, p {
  font-family: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.fs-1 { font-size: 3.0rem; } // 30px
.fs-3 { font-size: 1.75rem; } // 17.5px
.fs-4 { font-size: 1.5rem; }

.font-italic    { font-style: italic; }
.text-underline { text-decoration: underline; }

.button {
  background: transparent;
  border: solid white 1px;
  color: white;
  padding: 12px;
  border-radius: 2px;
  transition: 0.4s background ease, 0.4s color ease;
}
.button:hover {
  background: white;
  color: black;
}

.mt-5 { margin-top: 40px;}
.mb-5 { margin-bottom: 40px;}

.mt-4 { margin-top: 30px;}
.mb-4 { margin-bottom: 30px;}

.mt-3 { margin-top: 20px; }
.mb-3 { margin-bottom: 20px; }

.mt-2 { margin-top: 10px; }
.mb-2 { margin-bottom: 10px; }

.mt-1 { margin-top: 5px; }
.mb-1 { margin-bottom: 5px; }